h1 {
	padding-top: 50px;
	padding-bottom: 25px;
	text-align: center;
}

.outlineMe {
	position: absolute;
 	left: 200px;
	width: 500px;
}

#container {
	 background: url("../js/background.jpg") no-repeat center; 
 	 background-size: cover;
 	 height: 500px;
 	 position: relative;
}

#blueIconContainer {
	margin-left: 25%;
  	position: absolute;	
	height: 350px;
	width: 350px;
	border: 1px solid yellow;
}

#blueCircleIcon {
	height: 350px;
	width: 350px;
	animation-duration: 2s;
}

#blueCircleIconContainer {
	margin: 0 auto;
	position: relative;
	border: 1px solid green;
}

#blueCircle {
	height: 350px;
	width: 350px;
	position: absolute;
	float: left;
}

#hoverFXContainer {
	margin-left: 25%;
	height: 350px;
	width: 350px;
	border: 1px solid red;
	position: absolute;
}

#hoverFX {
	height: 350px;
	width: 350px;
	opacity: 0;
}