.parent {
  	position: relative;
 	 top: 0;
 	 left: 0;
}
.background {
 	 position: relative;
 	 top: 0;
 	 left: 0;
	width: 1000px;
}

.outlineMe {
 	 position: absolute;
 	 top: 30px;
 	 left: 70px;
}